

*{margin: 0; padding: 0;text-decoration: none;list-style: none;font-family: 'Rubik', sans-serif;}
html{background-color: #f4f7ff;}
.App{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

/* Navigation */
nav{margin: 30px}
nav h1{ margin-bottom: 40px;}
nav li { margin-top: 20px;}
nav li .link{
  color: black;
  transition: all 0.5s;
  display:inline-block;
  width: 80%;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  opacity: 0.5;
}
.selected{
  opacity: 1 !important; 
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.07);
}
/* Body */
.Topics{
  background-color: #fbfcff;
  height: 95vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 20px;
  border-radius: 32px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.07);
}
.contents{
  overflow:scroll;
  margin-left: 20px;
}
.contents::-webkit-scrollbar {
  display: none;
}
.title{margin:20px;margin-bottom:40px;}
/* Container */
h2{
  font-size: 20px;
  margin: 20px;
}


/* Profile */
.profile{
  border-radius: 32px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.07);
  text-align: center;
}